<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Spring1106.mapper.JuminMapper">
	<select id="getList" resultType="com.Spring1106.domain.JuminVO">
		<![CDATA[select * from tbl_manage_person
		]]>
	</select>
	<insert id="insert">
		insert into tbl_manage_person values (jumin_seq.nextval, #{sname}, #{spassword}, #{fname}, #{mname}, #{cname}, #{paddress}, #{pnumber}, #{pfamilycount})
	</insert>
	<select id="getOne" resultType="com.Spring1106.domain.JuminVO">
		select * from tbl_manage_person where mpno=#{mpno}
	</select>
	<update id="update">
		update tbl_manage_person set sname=#{sname}, spassword=#{spassword},fname=#{fname}, mname=#{mname}, cname=#{cname}, paddress=#{paddress}, pnumber=#{pnumber}, pfamilycount=#{pfamilycount} where mpno=#{mpno}
	</update>
	<delete id="delete">
		delete from tbl_manage_person where mpno=#{mpno}
	</delete>
	<select id="getArea" resultType="com.Spring1106.domain.JuminVO">
		select * from tbl_manage_person where paddress = #{paddress}
	</select>

</mapper>